//paleta de colores//
$letra : rgb(236, 230, 228) ;
$body: rgb(233, 95, 32);
$letrab: rgb(233, 211, 211);
$link: #fff;
$footer: rgb(201, 55, 140);
$lolo: rgb(238, 238, 57);

//maps
   $breakpoints:  (
    
               sm:480, 
               mb:786, 
               lg:1028,

);

    

