.Random {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: none;
    grid-column-gap: 20px;
    justify-content: center;
    text-align:center;
    margin: 20px 20px 20px 20px;
    padding: auto;

}

.imgrandom {
    height: 700px;
    width: 1100px;
    margin-bottom: 20px;

}




