header {
    display: flex;
    flex-direction: row;
    background-image: url(../img/nav.jpg);
    width: 100%;
    height: 169px;
    
        div {
            flex-flow: row;
            justify-content: space-between;
           
        }
      
    
       a {
        color: $link;
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
    }

    .navbar-brand {
        color: $link;
        font-family: 'Dancing Script', cursive;
        font-size: 35px;
     
      }           

              .nav-link {
              
              color: $link;
              font-family: 'Caveat', cursive;
              font-size: 30px;
              font-weight: bold;
              justify-content: center;
              margin: 10px 10px 10px 10px;
              text-decoration: line;
              

         }
     
               .dropdown-item {
        background-color: $body;
        color: $letrab;
        font-family: 'Caveat', cursive;
        font-weight: bold;
   
     } 



}
      